@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#h1-tushuntirish {
  padding: 150px 0;
  text-align: center;
  animation-name: animates;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}

@keyframes animates {
  0% {
    text-shadow: 4px 4px 8px #00e472;
  }
  70% {
    text-shadow: -4px -4px 8px #00bc5e;
  }
}
html {
  cursor: url("../icons/cursors/cursor-ui-svgrepo-com.svg") 5 1, auto;
}

body {
  font-family: "Comfortaa", cursive;
  background-color: #313536;
  color: #fff;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  padding-top: 80px;
}

#main_page_body {
  padding: 0 !important;
}

.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: transparent;
  box-shadow: 0 0 0 2px #fff;
  z-index: 100000;
  pointer-events: none;
}

.mytooltip {
  position: relative;
}
.mytooltip .tooltiptext {
  opacity: 0;
  width: 120px;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  transition: opacity 0.3s;
  pointer-events: none;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}
.mytooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(255, 255, 255, 0.6) transparent;
}

.hometooltip:hover .hometooltiptext {
  opacity: 1;
}

.abouttooltip:hover .abouttooltiptext {
  opacity: 1;
}

.portfoliotooltip:hover .portfoliotooltiptext {
  opacity: 1;
}

.contacttooltip:hover .contacttooltiptext {
  opacity: 1;
}

.loading {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.loading .loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
}
.loading .loader .css-square {
  position: absolute;
  top: 50%;
  width: 25px;
  height: 7px;
  background: white;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
}
.loading .loader .square1 {
  left: 70px;
  animation: dominos 1s 0.125s ease infinite;
}
.loading .loader .square2 {
  left: 60px;
  animation: dominos 1s 0.3s ease infinite;
}
.loading .loader .square3 {
  left: 50px;
  animation: dominos 1s 0.425s ease infinite;
}
.loading .loader .square4 {
  left: 40px;
  animation: dominos 1s 0.54s ease infinite;
}
.loading .loader .square5 {
  left: 30px;
  animation: dominos 1s 0.665s ease infinite;
}
.loading .loader .square6 {
  left: 20px;
  animation: dominos 1s 0.79s ease infinite;
}
.loading .loader .square7 {
  left: 10px;
  animation: dominos 1s 0.9s ease infinite;
}
.loading .loader .square8 {
  left: 0px;
  animation: dominos 1s 1s ease infinite;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  padding: 0;
  cursor: url("../icons/cursors/pointer-cursor-svgrepo-com.svg") 5 1, auto !important;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: url("../icons/cursors/pointer-cursor-svgrepo-com.svg") 5 1, auto !important;
}

::-webkit-scrollbar {
  width: 1rem;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: #202020;
  border-radius: 100vw;
  margin-block: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background: #00e472;
  border-radius: 100vw;
  border: 0.4rem solid #202020;
}

.dropdown-toggle::after {
  display: none !important;
}

.navbar {
  z-index: 3000;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 !important;
  transition: background-color 0.3s;
  background: linear-gradient(90deg, rgba(54, 113, 147, 0.2), rgba(0, 169, 86, 0.2));
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.navbar .navbar-brand {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 1.8rem;
  color: #fff;
  margin-left: 20px;
}
.navbar .funny_emoji_box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin-left: 10px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #fff;
}
.navbar .funny_emoji_box::after {
  content: "";
  width: 10px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
}
.navbar .funny_emoji_box::before {
  content: "";
  width: 10px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
}
.navbar .funny_emoji_box .eyes {
  display: flex;
  align-items: center;
  width: 100%;
}
.navbar .funny_emoji_box .eyes .eye {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 6px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 0 5px #fff;
}
.navbar .funny_emoji_box .eyes .eye .eyeball {
  content: "";
  position: absolute;
  top: 20%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  transition: box-shadow 0.2s;
}
.navbar .funny_emoji_box .mouth {
  position: absolute;
  width: 20px;
  height: 4px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  transition: all 0.2s;
}
.navbar .funny_emoji_box:hover .mouth {
  height: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.navbar .funny_emoji_box:hover .eyeball {
  box-shadow: 0 0 2px 2px #fff;
}
.navbar .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar .menu .nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar .menu .nav-menu .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  padding: 15px;
  transition: all 0.4s;
}
.navbar .menu .nav-menu .nav-item .nav-link {
  transition: all 0.4s;
}
.navbar .menu .nav-menu .nav-item .nav-link img {
  width: 40px;
  height: 40px;
}

.nav_toggle {
  display: none;
  width: 50px;
  height: 33px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: url("../icons/cursors/pointer-cursor-svgrepo-com.svg") 5 1, auto;
}
.nav_toggle span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.nav_toggle span:nth-child(1) {
  top: 0;
}
.nav_toggle span:nth-child(2),
.nav_toggle span:nth-child(3) {
  top: 14px;
}
.nav_toggle span:nth-child(4) {
  top: 28px;
}
.nav_toggle.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.nav_toggle.open span:nth-child(2) {
  transform: rotate(45deg);
}
.nav_toggle.open span:nth-child(3) {
  transform: rotate(-45deg);
}
.nav_toggle.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.main_nav {
  background: transparent;
}

.solid-nav {
  background: linear-gradient(90deg, rgba(54, 113, 147, 0.3), rgba(0, 169, 86, 0.3)) !important;
  box-shadow: 10px 0 40px -20px rgba(0, 0, 0, 0.8);
}

.scroll_top_btn {
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 1000;
  transition: all 0.4s;
  opacity: 1;
}

.hidden {
  opacity: 0 !important;
  pointer-events: none;
}

.title-style {
  display: block;
  text-align: center;
  margin-bottom: 5rem;
}

.dropdown-item {
  border-radius: 10px;
}
.dropdown-item:hover {
  background-color: rgba(102, 255, 204, 0.4) !important;
}

.dropdown-menu {
  position: absolute !important;
  background: rgba(255, 255, 255, 0.2) !important;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 10px;
  text-align: start;
  top: 100% !important;
  left: -60% !important;
}
.dropdown-menu i {
  margin-right: 7px;
}

.nav_active {
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.4s;
}

@keyframes nav_item_anim {
  0% {
    width: 100% !important;
    transform: translate(0px);
  }
  100% {
    width: 120% !important;
    transform: translate(15px);
  }
}
#info-section {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background: linear-gradient(#367193, #00a956);
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 150px 0;
}
#info-section .info-type {
  color: #fff;
}
#info-section .container {
  display: flex !important;
  align-items: center !important;
}
#info-section .container .test {
  width: 80%;
  z-index: 2;
}
#info-section .container .test .main_heading {
  font-size: 4rem;
}
#info-section .container .test .typed-cursor {
  font-size: 1.75rem;
  font-weight: 500;
}
#info-section .container .myImage {
  width: 700px;
  height: 700px;
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -10px 10px 60px 20px rgba(0, 0, 0, 0.2);
}

#about-me {
  position: relative;
  padding: 50px;
}
#about-me .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
#about-me .container .aboutMe_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}
#about-me .container .aboutMe_content .myImage {
  width: 40%;
  margin-right: 50px;
}
#about-me .container .aboutMe_content .myImage img {
  width: 100%;
  border-radius: 6px;
}
#about-me .container .aboutMe_content .about-me-list {
  padding-left: 0;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about-me .container .aboutMe_content .about-me-list-item {
  text-align: justify;
  margin: 20px 0;
  width: 90%;
}
#about-me .container .aboutMe_content .about-me-list-item .about-me-header {
  color: #fff;
  text-align: center;
}
#about-me .container .aboutMe_content .about-me-list-item .about-me-p {
  color: #abaeb0;
}

.skills-section {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 100px 0;
  background-color: #252829;
}
.skills-section .container .skills_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills-section .container .skills_content .skills_text {
  width: 100%;
  text-align: center;
}
.skills-section .container .skills_content .skills_text h2 {
  font-size: 3rem;
}
.skills-section .container .skills_content .skills_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.skills-section .container .skills_content .skills_list .skill_item {
  width: 170px;
  margin: 20px 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  transition: all 0.5s;
}
.skills-section .container .skills_content .skills_list .skill_item .box .percent {
  position: relative;
  display: flex;
  width: 100%;
  height: 200px;
  z-index: 30;
}
.skills-section .container .skills_content .skills_list .skill_item .box .percent svg {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.skills-section .container .skills_content .skills_list .skill_item .box .percent svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #202020;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(25px, 25px);
}
.skills-section .container .skills_content .skills_list .skill_item .box .percent svg circle:nth-child(2) {
  stroke: #00e472;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
.skills-section .container .skills_content .skills_list .skill_item .box .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-section .container .skills_content .skills_list .skill_item1 svg circle:nth-child(2) {
  stroke-dashoffset: 66 !important;
}
.skills-section .container .skills_content .skills_list .skill_item2 svg circle:nth-child(2) {
  stroke-dashoffset: 88 !important;
}
.skills-section .container .skills_content .skills_list .skill_item4 svg circle:nth-child(2) {
  stroke-dashoffset: 220 !important;
}
.skills-section .container .skills_content .skills_list .skill_item5 svg circle:nth-child(2) {
  stroke-dashoffset: 132 !important;
}
.skills-section .container .skills_content .skills_list .skill_item6 svg circle:nth-child(2) {
  stroke-dashoffset: 154 !important;
}
.skills-section .container .skills_content .skills_list .skill_item7 svg circle:nth-child(2) {
  stroke-dashoffset: 198 !important;
}
.skills-section .container .skills_content .skills_list .skill_item8 svg circle:nth-child(2) {
  stroke-dashoffset: 374 !important;
}
.skills-section .container .skills_content .skills_list .skill_item9 svg circle:nth-child(2) {
  stroke-dashoffset: 220 !important;
}
.skills-section .container .skills_content .skills_list .skill_item10 svg circle:nth-child(2) {
  stroke-dashoffset: 242 !important;
}
.skills-section .container .skills_content .skills_list .skill_item11 svg circle:nth-child(2) {
  stroke-dashoffset: 220 !important;
}
.skills-section .container .skills_content .linear_skills_list {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.skills-section .container .skills_content .linear_skills_list .linear_skill_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0;
}
.skills-section .container .skills_content .linear_skills_list .linear_skill_item .skill_props .skill_percent {
  color: #abaeb0;
}
.skills-section .container .skills_content .linear_skills_list .linear_skill_item .skill_line_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 20px;
}
.skills-section .container .skills_content .linear_skills_list .linear_skill_item .skill_line_box .skill_line {
  height: 100%;
  background-color: #00e472;
}
.skills-section .container .skills_content .linear_skills_list .linear_skill_item .skill_line_box .skill_line1 {
  width: 85%;
}
.skills-section .container .skills_content .linear_skills_list .linear_skill_item .skill_line_box .skill_line2 {
  width: 80%;
}
.skills-section .container .skills_content .linear_skills_list .linear_skill_item .skill_line_box .skill_line4 {
  width: 50%;
}
.skills-section .container .skills_content .linear_skills_list .linear_skill_item .skill_line_box .skill_line5 {
  width: 70%;
}
.skills-section .container .skills_content .linear_skills_list .linear_skill_item .skill_line_box .skill_line6 {
  width: 65%;
}
.skills-section .container .skills_content .linear_skills_list .linear_skill_item .skill_line_box .skill_line7 {
  width: 55%;
}
.skills-section .container .skills_content .linear_skills_list .linear_skill_item .skill_line_box .skill_line8 {
  width: 15%;
}
.skills-section .container .skills_content .linear_skills_list .linear_skill_item .skill_line_box .skill_line9 {
  width: 50%;
}
.skills-section .container .skills_content .linear_skills_list .linear_skill_item .skill_line_box .skill_line10 {
  width: 45%;
}
.skills-section .container .skills_content .linear_skills_list .linear_skill_item .skill_line_box .skill_line11 {
  width: 50%;
}

#portfolio_section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 100px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.6s;
}
#portfolio_section .portfolio-carousel {
  width: 100%;
  height: 440px;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-top: 100px;
}
#portfolio_section .portfolio-carousel .swiper-wrapper {
  height: 100% !important;
  border-radius: 20px;
}
#portfolio_section .portfolio-carousel .swiper-wrapper .swiper-slide::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.7), transparent);
  z-index: 2;
}
#portfolio_section .portfolio-carousel .swiper-button-next,
#portfolio_section .portfolio-carousel .swiper-button-prev {
  color: #00e472;
}
#portfolio_section .portfolio-carousel .swiper-pagination-bullet {
  color: #00e472 !important;
}
#portfolio_section .portfolio-carousel .carousel_info {
  position: absolute;
  color: #fff;
  text-align: center;
  right: 6%;
  bottom: 14%;
  width: 20%;
  z-index: 4;
}
#portfolio_section .portfolio-carousel .carousel_info .portfolio-links-div2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
#portfolio_section .portfolio-carousel .carousel_info .portfolio-links-div2 .see-more-portfolio {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(102, 255, 204, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid #00e472;
  border-radius: 10px;
  color: #00e472;
  transition: all 0.4s ease-in-out;
}
#portfolio_section .portfolio-carousel .carousel_info .portfolio-links-div2 .see-more-portfolio:hover {
  background-color: #00e472;
  color: black;
  padding-right: 30px;
  padding-left: 10px;
}
#portfolio_section .portfolio-carousel .carousel_info .portfolio-links-div2 .see-more-portfolio:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 10px;
  right: -20px;
  transition: 0.5s;
}
#portfolio_section .portfolio-carousel .carousel_info .portfolio-links-div2 .see-more-portfolio:hover:after {
  opacity: 1;
  right: 10px;
}
#portfolio_section .portfolio-carousel .carousel_info .portfolio-links-div2 .demo-link-portfolio {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  transition: all 0.4s ease-in-out;
}
#portfolio_section .portfolio-carousel .carousel_info .portfolio-links-div2 .demo-link-portfolio:hover {
  background-color: #fff;
  color: #252829;
}

#h6-using {
  color: #00e472;
  margin-top: -10px !important;
  font-size: 10px;
}

#messageSection {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  height: 85vh;
  overflow: hidden;
}
#messageSection .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
}
#messageSection .container .contact_links {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
#messageSection .container .contact_links_list {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  margin: 0 !important;
  padding: 0 !important;
}
#messageSection .container .contact_links_list_item {
  position: relative;
  width: 70px;
  height: 70px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: url("../icons/cursors/pointer-cursor-svgrepo-com.svg") 5 1, auto;
  -webkit-box-reflect: below -40px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}
#messageSection .container .contact_links_list_item:hover .sad_emoji {
  top: -30%;
  animation: sayNo 1.3s;
  transition-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
  opacity: 1;
}
#messageSection .container .contact_links_list_item:hover .fun_emoji {
  top: -30%;
  animation: sayYes 1.3s;
  transition-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
  opacity: 1;
}
#messageSection .container .contact_links_list_item .activateSad {
  top: -30%;
  animation: sayNo 1.3s;
  transition-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
  opacity: 1;
}
#messageSection .container .contact_links_list_item .activateFun {
  top: -30%;
  animation: sayYes 1.3s;
  transition-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
  opacity: 1;
}
#messageSection .container .contact_links_list_item .sad_emoji,
#messageSection .container .contact_links_list_item .fun_emoji {
  width: 30px;
  transition: all 0.2s;
  position: absolute;
  top: 30%;
  right: 0;
  bottom: 0;
  left: 29%;
  opacity: 0;
  pointer-events: none;
}
#messageSection .container .contact_links_list_item .contact_link {
  color: #fff;
  font-size: 2.5rem;
  transition: all 0.1s;
  transition-timing-function: ease-in-out;
  font-weight: bold;
  animation-fill-mode: forwards;
}
#messageSection .circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  z-index: -2;
}
#messageSection .circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  animation: animate 25s linear infinite;
  bottom: -150px;
  z-index: 2;
}
#messageSection .circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
#messageSection .circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
#messageSection .circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
#messageSection .circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
#messageSection .circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
#messageSection .circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
#messageSection .circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 10s;
  animation-delay: 7s;
}
#messageSection .circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
#messageSection .circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
#messageSection .circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
  animation-duration: 11s;
}
#messageSection .circles li:nth-child(11) {
  right: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 2s;
  animation-duration: 19s;
}

@keyframes cute {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes sayNo {
  0% {
    transform: translateX(0px) rotateY(0deg);
  }
  20% {
    transform: translateX(3px) rotateY(20deg);
  }
  40% {
    transform: translateX(-3px) rotateY(-20deg);
  }
  60% {
    transform: translateX(3px) rotateY(20deg);
  }
  80% {
    transform: translateX(-3px) rotateY(-20deg);
  }
  100% {
    transform: translateX(0px) rotateY(0deg);
  }
}
@keyframes sayYes {
  0% {
    transform: translateY(0px) rotateX(0deg);
  }
  20% {
    transform: translateY(3px) rotateX(25deg);
  }
  40% {
    transform: translateY(-3px) rotateX(-25deg);
  }
  60% {
    transform: translateY(3px) rotateX(25deg);
  }
  80% {
    transform: translateY(-3px) rotateX(-25deg);
  }
  100% {
    transform: translateY(0px) rotateX(0deg);
  }
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
footer {
  background-color: #313536;
  box-shadow: 10px 0 40px -20px rgba(0, 0, 0, 0.4);
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
footer .container .github-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}
footer .container .github-link:hover {
  color: #00e472;
}

.h3Div {
  display: flex;
  width: 100%;
  text-align: center;
  padding-top: 3rem;
  margin-bottom: 3rem;
  align-items: center;
  justify-content: center;
  height: 60px;
  flex-direction: column;
}

.typed-cursor {
  font-size: 20px;
}

.myWorksSection {
  background-color: #252829;
}
.myWorksSection .container .myWorksList {
  margin: 0 !important;
  padding: 20px 0;
}
.myWorksSection .container .myWorksList .myWorkItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 30px 0;
}
.myWorksSection .container .myWorksList .myWorkItem:nth-child(odd) {
  flex-direction: row;
}
.myWorksSection .container .myWorksList .myWorkItem:nth-child(odd) .workImage {
  box-shadow: -20px 20px 40px 10px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  -webkit-mask-image: linear-gradient(to right, rgb(0, 0, 0) 0%, transparent 100%);
          mask-image: linear-gradient(to right, rgb(0, 0, 0) 0%, transparent 100%);
  height: 700px;
  width: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}
.myWorksSection .container .myWorksList .myWorkItem:nth-child(odd) .workDescription {
  padding: 15px;
  margin: 15px 5px;
  text-align: center;
}
.myWorksSection .container .myWorksList .myWorkItem:nth-child(odd) .workDescription .portfolio-links-div2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myWorksSection .container .myWorksList .myWorkItem:nth-child(odd) .workDescription .portfolio-links-div2 a {
  margin-right: 15px;
}
.myWorksSection .container .myWorksList .myWorkItem:nth-child(odd) .workDescription .portfolio-links-div2 .demo-link-portfolio {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  transition: all 0.4s ease-in-out;
}
.myWorksSection .container .myWorksList .myWorkItem:nth-child(odd) .workDescription .portfolio-links-div2 .demo-link-portfolio:hover {
  background-color: #fff;
  color: #252829;
}
.myWorksSection .container .myWorksList .myWorkItem:nth-child(odd) .workDescription .portfolio-links-div2 .see-more-portfolio {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(102, 255, 204, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid #00e472;
  border-radius: 10px;
  color: #00e472;
  transition: all 0.4s ease-in-out;
}
.myWorksSection .container .myWorksList .myWorkItem:nth-child(odd) .workDescription .portfolio-links-div2 .see-more-portfolio:hover {
  background-color: #00e472;
  color: black;
  padding-right: 30px;
  padding-left: 10px;
}
.myWorksSection .container .myWorksList .myWorkItem:nth-child(odd) .workDescription .portfolio-links-div2 .see-more-portfolio:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 10px;
  right: -20px;
  transition: 0.5s;
}
.myWorksSection .container .myWorksList .myWorkItem:nth-child(odd) .workDescription .portfolio-links-div2 .see-more-portfolio:hover:after {
  opacity: 1;
  right: 10px;
}
.myWorksSection .container .myWorksList .myWorkItem:nth-child(even) {
  flex-direction: row-reverse;
}
.myWorksSection .container .myWorksList .myWorkItem:nth-child(even) .workImage {
  box-shadow: 20px 20px 40px 10px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-mask-image: linear-gradient(to left, rgb(0, 0, 0) 0%, transparent 100%);
          mask-image: linear-gradient(to left, rgb(0, 0, 0) 0%, transparent 100%);
  height: 700px;
  width: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}
.myWorksSection .container .myWorksList .myWorkItem:nth-child(even) .workDescription {
  padding: 15px;
  margin: 15px 5px;
  text-align: center;
}
.myWorksSection .container .myWorksList .myWorkItem:nth-child(even) .workDescription .portfolio-links-div2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myWorksSection .container .myWorksList .myWorkItem:nth-child(even) .workDescription .portfolio-links-div2 a {
  margin-right: 15px;
}
.myWorksSection .container .myWorksList .myWorkItem:nth-child(even) .workDescription .portfolio-links-div2 .demo-link-portfolio {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  transition: all 0.4s ease-in-out;
}
.myWorksSection .container .myWorksList .myWorkItem:nth-child(even) .workDescription .portfolio-links-div2 .demo-link-portfolio:hover {
  background-color: #fff;
  color: #252829;
}
.myWorksSection .container .myWorksList .myWorkItem:nth-child(even) .workDescription .portfolio-links-div2 .see-more-portfolio {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(102, 255, 204, 0.2);
  border: 1px solid #00e472;
  border-radius: 10px;
  color: #00e472;
  transition: all 0.4s ease-in-out;
}
.myWorksSection .container .myWorksList .myWorkItem:nth-child(even) .workDescription .portfolio-links-div2 .see-more-portfolio:hover {
  background-color: #00e472;
  color: black;
  padding-right: 30px;
  padding-left: 10px;
}
.myWorksSection .container .myWorksList .myWorkItem:nth-child(even) .workDescription .portfolio-links-div2 .see-more-portfolio:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 10px;
  right: -20px;
  transition: 0.5s;
}
.myWorksSection .container .myWorksList .myWorkItem:nth-child(even) .workDescription .portfolio-links-div2 .see-more-portfolio:hover:after {
  opacity: 1;
  right: 10px;
}

.my-element {
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
  /* don't forget to set a duration! */
}

@media (max-width: 1440px) {
  #info-section .container .myImage {
    width: 60%;
  }
  #about-me .container .aboutMe_content {
    align-items: flex-start;
  }
  #about-me .container .aboutMe_content .myImage {
    margin-top: 20px;
  }
  #about-me .container .aboutMe_content .about-me-list-item {
    margin: 0 0 40px 0;
  }
}
@media (max-width: 1200px) {
  .myWorksSection .container .myWorksList .myWorkItem .workImage {
    width: 500px !important;
    height: 500%;
    height: auto;
  }
}
@media (max-width: 1024px) {
  .funny_emoji_box {
    display: none !important;
  }
  #about-me .container .aboutMe_content {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  #about-me .container .aboutMe_content .myImage {
    width: 50%;
    margin-bottom: 100px;
    margin: auto;
  }
  #about-me .container .aboutMe_content .about-me-list {
    width: 100%;
  }
  #portfolio_section .portfolio-carousel {
    width: 80%;
    height: 280px;
    margin-top: 100px;
  }
  #portfolio_section .portfolio-carousel .carousel_info {
    width: 30%;
    right: 6%;
  }
  .myWorksSection .container .myWorksList {
    margin: 0 !important;
    padding: 20px 0;
  }
}
@media (max-width: 995px) {
  #about-me .container .aboutMe_content .myImage {
    width: 80%;
  }
  .myWorksSection .container .myWorksList .myWorkItem .workImage {
    width: 400px !important;
    height: 400px !important;
  }
}
@media (max-width: 780px) {
  #about-me .container .aboutMe_content .myImage {
    width: 70%;
  }
  .myWorksSection .container .myWorksList .myWorkItem .workImage {
    width: 300px !important;
    height: 300px !important;
  }
}
@media (max-width: 768px) {
  section {
    padding: 40px 0 !important;
  }
  section .container h2 {
    font-size: 2rem !important;
  }
  .test {
    width: 100%;
  }
  .test .x {
    font-size: 3rem;
  }
  .navbar .menu .nav-menu .nav-item {
    width: 80px !important;
    height: 80px;
  }
  .navbar .menu .nav-menu .nav-item .nav-link img {
    width: 40px;
    height: 40px;
  }
  .skills-section .container .skills_content .skills_list .skill_item {
    width: 170px;
    margin: 10px 20px;
  }
  #portfolio_section .portfolio-carousel {
    width: 90%;
    height: 400px;
    margin-top: 100px;
  }
  #portfolio_section .portfolio-carousel .swiper-wrapper {
    height: 100% !important;
    border-radius: 20px;
  }
  #portfolio_section .portfolio-carousel .swiper-wrapper .swiper-slide::before {
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.7), transparent);
  }
  #portfolio_section .portfolio-carousel .swiper-wrapper .carousel_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    right: 0;
    left: 0;
  }
  #portfolio_section .portfolio-carousel .swiper-wrapper .carousel_info .portfolio-links-div2 {
    justify-content: center;
  }
  #portfolio_section .portfolio-carousel .swiper-wrapper .carousel_info .portfolio-links-div2 a {
    margin: 0 10px;
  }
  #portfolio_section .portfolio-carousel .swiper-wrapper img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 695px) {
  body {
    padding-top: 50px;
  }
  #info-section .container .test {
    width: 80%;
    margin: auto;
  }
  #info-section .container .test .main_heading {
    font-size: 2.5rem;
  }
  .nav_toggle {
    display: flex;
  }
  .open_nav {
    right: 0 !important;
    opacity: 1 !important;
    pointer-events: auto !important;
  }
  .navbar .menu {
    position: absolute;
    top: 100%;
    right: -20%;
    opacity: 0;
    pointer-events: none;
    transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out !important;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .navbar .menu .nav-menu {
    flex-direction: column;
  }
  .skills_list {
    display: none !important;
  }
  .linear_skills_list {
    display: flex !important;
  }
  #portfolio_section .portfolio-carousel {
    width: 80%;
  }
  #portfolio_section .portfolio-carousel .swiper-wrapper .carousel_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    right: 0;
    left: 0;
  }
  #portfolio_section .portfolio-carousel .swiper-wrapper img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .myWorksSection .container .myWorksList .myWorkItem {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 30px 0;
  }
  .myWorksSection .container .myWorksList .myWorkItem .workImage {
    border-radius: 10px !important;
    position: absolute;
    -webkit-mask-image: none !important;
            mask-image: none !important;
    width: 100% !important;
    height: 100% !important;
    right: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .myWorksSection .container .myWorksList .myWorkItem .workDescription {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-radius: 10px;
  }
  .myWorksSection .container .myWorksList .myWorkItem .workDescription .portfolio-links-div2 .demo-link-portfolio {
    background-color: #fff !important;
    color: #000 !important;
  }
  .myWorksSection .container .myWorksList .myWorkItem .workDescription .portfolio-links-div2 .see-more-portfolio {
    background-color: #00e472 !important;
    color: #000 !important;
  }
  footer .container {
    justify-content: center;
  }
  footer .container .github-link {
    display: none;
  }
}
@media (max-width: 490px) {
  #about-me .container .aboutMe_content .myImage {
    width: 90%;
  }
  body {
    padding-top: 30px !important;
  }
  .test .my-element {
    display: block;
  }
  .test .main_heading {
    text-align: center;
    font-size: 2.3rem !important;
  }
  .nav_toggle {
    width: 40px;
    height: 30px;
  }
  .navbar .navbar-brand {
    font-size: 1.5rem;
    margin-left: 0;
  }
  .navbar .navbar-brand img {
    width: 40px;
    height: 40px;
  }
  .swiper-button-next {
    display: none !important;
  }
  .swiper-button-prev {
    display: none !important;
  }
  .swiper-pagination {
    display: none !important;
  }
  #portfolio_section .portfolio-carousel {
    width: 100%;
    height: 400px;
    margin-top: 100px;
  }
  #portfolio_section .portfolio-carousel .swiper-wrapper {
    height: 100% !important;
    border-radius: 20px;
  }
  #portfolio_section .portfolio-carousel .swiper-wrapper .swiper-slide::before {
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.7), transparent);
  }
  #portfolio_section .portfolio-carousel .swiper-wrapper .carousel_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    right: 0;
    left: 0;
  }
  #portfolio_section .portfolio-carousel .swiper-wrapper .carousel_info .portfolio-links-div2 {
    justify-content: center;
  }
  #portfolio_section .portfolio-carousel .swiper-wrapper .carousel_info .portfolio-links-div2 a {
    margin: 0 10px;
  }
  #portfolio_section .portfolio-carousel .swiper-wrapper img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #messageSection .container .contact_links_list {
    flex-wrap: wrap !important;
  }
  #messageSection .container .contact_links_list_item {
    width: 100px;
    margin-bottom: 30px;
  }
  #messageSection .container .contact_links_list_item .sad_emoji,
  #messageSection .container .contact_links_list_item .fun_emoji {
    left: 35% !important;
  }
}
@keyframes dominos {
  50% {
    opacity: 0.7;
  }
  75% {
    transform: rotate(90deg);
  }
  80% {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */